// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';

// Modules
@import 'helpers/helpers';
@import 'ingame/menu/menu';
@import 'ingame/menu/resources';

body {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #0b101b;
    color: #f2f2f2;
    .card {
        color: #1a202c;
    }
    a {
        color: #f2f2f2;
        &:hover {
            text-decoration: none;
            color: #c0c0c0;
        }
    }
}

.notification {
    background-color: $red;
    &.attack {
        color: $yellow;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 1px;
    }
}

.attack, .espionage, .invasion {
    background-color: $red;
}

.transport {
    background-color: #b8860b;
}

.single-message {
    width: 100%;
    text-align: left;
    table {
        width: 100%;
    }
}

.planet-triggers {
    span {
        cursor: pointer;
    }
}

.title-line {
    background-color: #001e3b;
    margin-bottom: 1px;
}

.sub-line {
    background-color: #213f5d;
    margin-bottom: 1px;
}

.process-entry,
.process-action {
    background-color: #213f5d;
    margin-bottom: 1px;
    padding: 15px;
}

.process-entry {
    text-align: left;
}

.process-entry {
    span {
        display: block;
    }
    &.current-process {
        span {
            display: inline-block;
        }
    }
}

.process-action {
    display: flex;
    align-items: center;
    justify-content: center;
    .process-start {
        color: #2fa360;
    }
    .process-denied {
        color: #b91d19;
    }
}

.highscore-table {
    width: 100%;
    .title-line {
        font-weight: bold;
    }
}

.techtree {
    border: 1px solid #000;
    .item-row {
        border-bottom:1px solid #000;
        &:nth-of-type(even) {
            background-color: #001e3b;
        }
        &:nth-of-type(odd) {
            background-color: #213f5d;
        }
        &:last-of-type {
            border-bottom: none;
        }
    }
    .item-title {
        justify-items: center;
        align-items: center;
        font-weight: bold;
        display: flex;
    }
    .item-list {
        border-left: 1px solid #000;
        ul {
            list-style: none;
        }
    }
}

.report {
    .title-line {
        margin-top: 30px;
        &:first-of-type {
            margin-top: 0;
        }
    }
}

#chat-opener {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 20px;
    background-color: #213f5d;
    line-height: 1;
    border-radius: 50%;
    box-shadow: 0 0 4px #001e3b;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 4px #f2f2f2;
    }
}
#chat-window {
    display: none;
    position: fixed;
    max-width: calc(100% - 40px);
    @media (min-width: 768px) {
        max-width: 50%;
    }
    bottom: 20px;
    left: 20px;
    background-color: #001e3b;
    .chat-list {
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
        .chat-message {
            margin-bottom: 2px;
            padding: 0 10px;
        }
    }
}

.modal-content {
    background-color: #001e3b;
}
