<div class="resources">
  <div class="resources-holder" title="{{ resources[0]?.rate_fe | number: '0.0-0':'de' }}/h">
    <span class="resources-title title-line">Eisen</span>
    <span class="resources-amount sub-line">{{ resources[0]?.fe | number: '0.0-0':'de' }}</span>
  </div>
  <div class="resources-holder" title="{{ resources[0]?.rate_lut | number: '0.0-0':'de' }}/h">
    <span class="resources-title title-line">Lutinum</span>
    <span class="resources-amount sub-line">{{ resources[0]?.lut | number: '0.0-0':'de' }}</span>
  </div>
  <div class="resources-holder" title="{{ resources[0]?.rate_cry | number: '0.0-0':'de' }}/h">
    <span class="resources-title title-line">Kristalle</span>
    <span class="resources-amount sub-line">{{ resources[0]?.cry | number: '0.0-0':'de' }}</span>
  </div>
  <div class="resources-holder" title="{{ resources[0]?.rate_h2o | number: '0.0-0':'de' }}/h">
    <span class="resources-title title-line">Wasser</span>
    <span class="resources-amount sub-line">{{ resources[0]?.h2o | number: '0.0-0':'de' }}</span>
  </div>
  <div class="resources-holder" title="{{ resources[0]?.rate_h2 | number: '0.0-0':'de' }}/h">
    <span class="resources-title title-line">Wasserstoff</span>
    <span class="resources-amount sub-line">{{ resources[0]?.h2 | number: '0.0-0':'de' }}</span>
  </div>
</div>
