<div class="container-fluid">
  <div class="row">
    <div class="col-12 title-line">
      <!--
        @if($prevPlanet)
        <span>
                  <a href="/construction/{{$prevPlanet->id}}"><<</a>
              </span>
        @endif
        -->

        <span>Verfügbare Konstruktionen auf {{planet?.galaxy}}:{{planet?.system}}:{{planet?.planet}}</span>
      <!--
      @if($nextPlanet)
        <span>
                  <a href="/construction/{{$nextPlanet->id}}">>></a>
              </span>
        @endif
        -->
    </div>

    <ng-container *ngIf="process">
      <div class="col-10 current-process process-entry">
        <span>Aktuell in Konstruktion: {{process.building_name}} Stufe {{process.infrastructure != null ? process.infrastructure.level + 1 : 1}}</span>
        <br/>
        <span>Fertigstellung: {{ process.finished_at | date:'dd.MM.yyyy, HH:mm:ss':'+0200':'de' }}</span>
      </div>
      <div class="col-2 process-action">
        <span class="process-denied" (click)="cancel()" style="cursor: pointer;">Abbrechen</span>
      </div>
    </ng-container>
    <ng-container *ngIf="processing">
      <div class="col-12 sub-line">
        <span>Konstruktion wird gestartet...</span>
      </div>
    </ng-container>
    <ng-template ngFor let-building [ngForOf]="constructionEntries">
        <ng-container *ngIf="building.buildable">
          <div class="col-10 process-entry">
            <span>{{building.building_name}} {{building.infrastructure != null ? '(Stufe ' + building.infrastructure.level + ')' : ''}} <!--<a data-toggle="collapse" href="#collapse{{building.id}}">[Info]</a>--></span>
            <div class="collapse" id="collapse{{building.id}}">
              <span>{{building.description.split('---')[0]}}</span>
            </div>
            <span>Ausbau auf Stufe {{building.infrastructure != null ? building.infrastructure.level + 1 : 1}}:</span>
            <span>
            <span *ngIf="building.fe > 0">
              Eisen: {{ building.fe | number:'0.0-0':'de' }}
            </span>
            <span *ngIf="building.lut > 0">
              Lutinum: {{ building.lut | number:'0.0-0':'de' }}
            </span>
            <span *ngIf="building.cry > 0">
              Kristalle: {{ building.cry | number:'0.0-0':'de' }}
            </span>
            <span *ngIf="building.h2o > 0">
              Wasser: {{ building.h2o | number:'0.0-0':'de' }}
            </span>
            <span *ngIf="building.h2 > 0">
              Wasserstoff: {{ building.h2 | number:'0.0-0':'de' }}
            </span>
          </span>
            <span>Dauer: {{building.readableBuildtime}}</span>
          </div>
          <div class="col-2 process-action">
            <ng-container *ngIf="!process && !processing && resources.data.fe >= building.fe && resources.data.lut >= building.lut && resources.data.cry >= building.cry && resources.data.h2o >= building.h2o && resources.data.h2 >= building.h2; else denied" >
              <span class="process-start" (click)="start(building.id)" style="cursor: pointer;">
                Konstruktion<br/>
                Stufe {{building.infrastructure != null ? building.infrastructure.level + 1 : 1}}
              </span>
            </ng-container>
            <ng-template #denied>
              <span class="process-denied">Ausbau</span>
            </ng-template>
          </div>
        </ng-container>
      </ng-template>

  </div>
</div>
