<div class="container-fluid">
  <div class="row">
    <!--
    <div class="col-12 title-line">
      @if($prevPlanet)
      <span>
                <a href="/construction/{{$prevPlanet->id}}"><<</a>
            </span>
      @endif
      <span>Verfügbare Konstruktionen auf {{$planetInformation->galaxy}}:{{$planetInformation->system}}:{{$planetInformation->planet}}</span>
      @if($nextPlanet)
      <span>
                <a href="/construction/{{$nextPlanet->id}}">>></a>
            </span>
      @endif
    </div>
    @if($currentConstruction)
    <div class="col-10 current-process process-entry">
      <span>Aktuell in Konstruktion: {{$currentConstruction->building_name}} Stufe {{$currentConstruction->infrastructure != null ? $currentConstruction->infrastructure->level + 1 : 1}}</span>
      <br/>
      <span>Abgeschlossen in: </span>
      <span class="js-add-countdown" data-seconds-to-count="{{strtotime($currentConstruction->finished_at) - now()->timestamp}}">-</span>
      <br/>
      <span>Fertigstellung: {{ date("d.m.Y H:i:s", strtotime($currentConstruction->finished_at)) }}</span>
    </div>
    <div class="col-2 process-action">
      <a class="process-denied" href="/construction/{{$activePlanet}}/edit">Abbrechen</a>
    </div>
    @endif
-->
    <ng-template ngFor let-building [ngForOf]="constructionEntries">
      <ng-container *ngIf="building.buildable">
        <div class="col-10 process-entry">
          <span>{{building.building_name}} {{building.infrastructure.level > 0 ? '(Stufe ' + building.infrastructure.level + ')' : ''}} <!--<a data-toggle="collapse" href="#collapse{{building.id}}">[Info]</a>--></span>
          <div class="collapse" id="collapse{{building.id}}">
            <span>{{building.description.split('---')[0]}}</span>
          </div>
          <span>Ausbau auf Stufe {{building.infrastructure.level > 0 ? building.infrastructure.level + 1 : 1}}:</span>
          <span>
            <span *ngIf="building.fe > 0">
              Eisen: {{ building.fe | number:'0.0-0':'de' }}
            </span>
            <span *ngIf="building.lut > 0">
              Lutinum: {{ building.lut | number:'0.0-0':'de' }}
            </span>
            <span *ngIf="building.cry > 0">
              Kristalle: {{ building.cry | number:'0.0-0':'de' }}
            </span>
            <span *ngIf="building.h2o > 0">
              Wasser: {{ building.h2o | number:'0.0-0':'de' }}
            </span>
            <span *ngIf="building.h2 > 0">
              Wasserstoff: {{ building.h2 | number:'0.0-0':'de' }}
            </span>
          </span>
          <span>Dauer: {{building.readableBuildtime}}</span>
        </div>
        <div class="col-2 process-action">
          <!--
          @if(!currentConstruction && planetaryResources.fe >= building.fe && planetaryResources.lut >= building.lut && planetaryResources.cry >= building.cry && planetaryResources.h2o >= building.h2o && planetaryResources.h2 >= building.h2)
          <a class="process-start" href="/construction/{{activePlanet}}/{{building.id}}">Konstruktion<br/>Stufe {{building.infrastructure != null ? building.infrastructure.level + 1 : 1}}</a>
          @else
          <span class="process-denied">Ausbau</span>
          @endif
          -->
        </div>
      </ng-container>
    </ng-template>
    
    
    
  </div>
</div>
